@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --font: inter;
}
a {
  color: #fff;
}
body {
  /* background-image: url(imagens/DALL·E\ 2023-11-23\ 14.07.57\ -\ A\ mystical\ landscape\ at\ twilight\,\ featuring\ an\ array\ of\ jagged\ mountains\ shrouded\ in\ mist.\ In\ the\ sky\ above\ the\ highest\ peak\,\ a\ supernatural\ phenomeno.png); */
  /* background: color(srgb red green blue); */
  background-color: black;
  margin: 0; /* Remover as margens padrão */
  height: 100vh;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font);
}
.cabecalho {
  align-items: center;
  background-color: #04141b;
  display: flex;
  justify-content: space-between;
  /* padding-left: 2rem; */
  width: 100%;
  box-shadow: 0 1px 30px #191919;
}

.navegacao{
  
}

.logo {
  margin: 5px;
  padding-left: 2rem;

}
.menu-lista {
  display: flex;
  color: aliceblue;
  justify-content: flex-end;
}

.list-link {
  list-style-type: none;
  padding: 20px;
  font-size: 15px;
  font-weight: 200;
  /* font-family: 'Inter', sans-serif; */
}

.cabecalho__list-link {
  text-decoration: none;

}

.cabecalho__list-link:hover{
  text-decoration: underline;
}


.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  scroll-snap-align: start;
  background-size: cover; /* Certifica que a imagem de fundo cobre toda a seção */
  background-position: center;
}
.container__principal {
  margin: 6em;
}

.container__descricao {
  font-size: 1em;
  color: aliceblue;
}

.container__botao {
  text-decoration: none;
  background-color: red;
  /* border: 4px solid #fff; */
  border-color: #fff;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  margin-top: 1em;
  display: inline-block;
}

.container h1 {
  margin-bottom: 1em;
  font-size: 2em;
  /* font-family: Inter; */
  font-weight: 900;
  color: aliceblue;
  letter-spacing: 2.5px;
}

.container__imagem {
  width: 82%;
  margin: 5em;
  margin-top: 6em;
}

.rodape {
  background:#04141b;
  /* margin: 1em; */
  padding: 2em;
  /* border-radius: 5px; */
}

.menu__rodape{
  display: flex;
}


#container__principal--section {
  background-image: url(/static/images/home/background-1.png);
  background-clip: border-box;
 
}
#container__principal--section2 {
  background-image: url(/static/images/home/background-2.png);
  /* backdrop-filter: blur(10px); */
}
#container__principal--section3 {
  background-image: url(/static/images/home/background-3.png);
  /* backdrop-filter: blur(10px); */
}

#cabecalho__botao--font{
  text-decoration: none;
  background-color: red;
  border-color: #fff;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
}
