:root {
    --primary-color: #03060c;
    --dark: #05050d;
    --light: #776969;
    --default-pad: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #eee;
    height: 100%;
}

nav {
    display: flex;
    height: 100%;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 0;
    list-style-type: none;
}

a {
    color: rgb(12, 11, 8);
    text-decoration: none;
}

.topnav-menu li {
    padding: 5%;
}

.main-content {
    background-color: white;
    flex-grow: 1;
    height: 100%; 
}

.topnav {
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    padding-right: var(--default-pad);
    min-height: 60px; 
}

.div-logo {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 30%;
}



main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.div-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%;
}

.secao {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-block {
    background-color: #FF6363;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 30px 0;
}

.content-img {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: left;
}

.content-img   {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
    width: 100%;
}

.content-block-secao-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    width: 100%;
    padding: 30px 0;
    margin-left: auto; 
}

.content-block-secao-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%; 
    padding: 100px 0;
    margin-left: rihgt;
}


.content-block-secao-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    width: 50%;
    padding: 30px 0;
    margin-left: auto; 
}


.button-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-div button {
    padding: 10px 20px;
    color: black;
    background-color: #FF6363;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%; /* Ajuste conforme necessário */
}

.button-div button:hover {
    background-color: rgb(142, 229, 145);
}

.button-dive {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-dive button {
    padding: 10px 20px;
    color: black;
    background-color: #FF6363;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%; /* Ajuste conforme necessário */
}

.button-dive button:hover {
    background-color: rgb(142, 229, 145);
}


.text-block {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    margin: 0;
    padding: 20px;
}

.text-block p {
    width: 100%;
}

.div-text-button {
    display: flex;
    padding: 5%;
    align-items: center;
    width: 100%;
}
