<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campanha</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/main/resources/static/style/estilocampanha.css">
</head>

<body>
    <div class="main-content">
        <header class="topnav">
            <div class="div-logo">
                <img class="logo" src="../static/images/logo/logo_com_fundo.jpg" alt="Imagem 1">
            </div>
            <nav>
                <ul class="topnav-menu">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">CAMPANHAS</a></li>
                    <li><a href="#">AMIGOS</a></li>
                    <li><a href="#">INFORMAÇÕES</a></li>
                    <li><a href="#">SOBRE</a></li>
                </ul>
            </nav>
            <div class="div-acesso">
                <button class="nav-button">REGISTRAR</button>
                <button class="nav-button">LOGIN</button>
            </div>
        </header>

        <main>
            <div class="div-main">
                <img id="img-1" src="../static/images/home/background-1.png" alt="">
                <div class="secao" id="secao-1">
                    <div class="content-block" id="background-image-1">
                        <div class="div-text-button">
                            <div class="text-block">
                                <h2 class="title">COMECE SUA AVENTURA!</h2>
                                <p>Quer despertar sua imaginação enquanto se diverte com os amigos? Dungeons & Dragons é um RPG colaborativo para jogadores de todas as idades. Reúna seus amigos para derrotar monstros poderosos, embarcar em missões épicas e contar histórias lendárias cheias de fantasia e diversão.</p>
                                <button>COMECE JÁ!</button>
                            </div>
                        </div>
                        <div class="content-img">
                            <img src="../static/images/home/home_d&d.png" alt="Imagem 1">
                        </div>
                    </div>
                </div>
                <div class="secao" id="secao-2">
                    <div class="content-block">
                        <div class="div-text-button">
                            <div class="text-block">
                                <h2 class="title">SUPORTE A VÁRIOS SISTEMAS</h2>
                                <p>Em caso de necessidade, colocamo-nos à disposição para auxiliá-lo em uma ampla variedade de sistemas. Não hesite em contatar nossa equipe para esclarecimentos ou dúvidas. Estamos totalmente preparados e comprometidos em fornecer o suporte necessário para garantir sua experiência tranquila e satisfatória.</p>
                                <button>COMECE JÁ!</button>
                            </div>
                        </div>
                        <div class="content-img">
                            <img src="../static/images/home/home_varios_sistemas.png" alt="Imagem 2">
                        </div>
                    </div>
                </div>
                <div class="secao" id="secao-3">
                    <div class="content-block">
                        <div class="div-text-button">
                            <div class="text-block">
                                <h2 class="title">CRIE O SEU PRÓPRIO SISTEMAS</h2>
                                <p>Crie o seu próprio sistema e venha se divertir com seus amigos como vocês quiserem e o melhor, com as suas regras !!</p>
                                <button>COMECE JÁ!</button>
                            </div>
                        </div>
                        <div class="content-img">
                            <img src="../static/images/home/home_dados.png" alt="Imagem 3">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>
