<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style/campanha-criar-regras.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/logo/logo_com_fundo.jpg" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Criar Regras</title>
</head>
<body>
<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
    </div>
</div>
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>

        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

<nav class="sidebar close">
        <header>
            <a class="ancora-home" href="/">
                <div class="image-text">
                    <span class="image">
                        <img src="/static/images/logo/logo_com_fundo.jpg" alt="logo">
                    </span>
                </div>
                <div class="text header-text">
                    <span class="name">Dice&Rise</span>
                </div>
            </a>
            <box-icon class="bx bx-chevron-right toggle" name='chevron-right'></box-icon>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <!-- <li class="search-box">
                    <box-icon class="bx bx-search icon"></box-icon>
                    <input type="text" placeholder="Search...">
                </li> -->
                <ul class="menu-links">
                    <li class="nav-link">
                        <a th:href="@{/campanha/{codCampanha}(codCampanha=${campanha.codCampanha})}">
                            <box-icon class="bx bxs-home icon"></box-icon>
                            <span class="text nav-text">Tela Inicial</span>
                        </a>
                    </li>
                    <li class="nav-link">    
                        <a th:href="@{/campanha/{codCampanha}/participantes(codCampanha=${campanha.codCampanha})}">
                            <box-icon class="bx bxs-user icon"></box-icon>
                            <span class="text nav-text">Participantes</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a th:href="@{/campanha/{codCampanha}/personagens(codCampanha=${campanha.codCampanha})}">
                            <box-icon class="bx bxs-user-badge icon"></box-icon>
                            <span class="text nav-text">Personagens</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a th:href="@{/campanha/{codCampanha}/mapa(codCampanha=${campanha.codCampanha})}">
                            <box-icon class="bx bx-map-alt icon"></box-icon>
                            <span class="text nav-text">Mapa</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a th:href="@{/campanha/{codCampanha}/regras(codCampanha=${campanha.codCampanha})}">
                            <box-icon class="bx bxs-book icon"></box-icon>
                            <span class="text nav-text">Regras</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a th:href="@{/campanha/{codCampanha}/rolagens(codCampanha=${campanha.codCampanha})}">
                            <box-icon class="bx bxs-dice-6 icon"></box-icon>
                            <span class="text nav-text">Rolagens</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a href="/lista-de-campanhas">
                        <box-icon class="bx bx-log-out icon"></box-icon>
                        <span class="text nav-text">Sair da campanha</span>
                    </a>
                </li>
            </div>
        </div>
    </nav>
    <section class="main">
        <div class="text">Regras</div>
        <div class="container-cards">
            <form class="card" th:action="@{/campanha/{codCampanha}/salvar-regras(codCampanha=${campanha.codCampanha})}" th:object="${regras}" method="post">
                <div class="info-regras " >
                    <label for="codParticipante">Código do Participantes:</label>
                    <input type="number" id="codParticipante" name="codParticipante">
                </div>
                <div class="info-regras">
                    <label for="nome">Titulo da Regra:</label>
                    <input type="text" id="nome" name="nome">
                </div>  
                <div id="textarea" class="info-regras">
                    <label for="codParticipante">Descrição das Regra:</label>
                    <textarea name="descricao" id="" cols="100" rows="10"></textarea>
                </div>
                <div class="div-button-regras">
                    <input class="button-regras" type="submit" value="Criar Regras">
                </div>
            </form>
        </div>
        <footer class="rodape" >
            <p>© 2023 Dice & Rise</p>
        </footer>
    </section>
    <script src="/static/script/campanha.js"></script>
</body>
</html>