<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style/campanha.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/logo/logo_com_fundo.jpg" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Detalhes Campanha</title>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/static/images/logo/logo_com_fundo.jpg" alt="logo">
                </span>
            </div>

            <div class="text header-text">
                <span class="name">CodingLab</span>
                <span class="profession">Web Developer</span>
            </div>

            <box-icon class="bx bx-chevron-right toggle" name='chevron-right'></box-icon>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <!-- <li class="search-box">
                    <box-icon class="bx bx-search icon"></box-icon>
                    <input type="text" placeholder="Search...">
                </li> -->
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <box-icon class="bx bx-home-alt icon"></box-icon>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <box-icon class="bx bx-bar-chart-alt-2 icon"></box-icon>
                            <span class="text nav-text">Revenue</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <box-icon class="bx bx-bell icon"></box-icon>
                            <span class="text nav-text">Notifications</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <box-icon class="bx bx-pie-chart-alt icon"></box-icon>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <box-icon class="bx bx-heart icon"></box-icon>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <box-icon class="bx bx-wallet icon"></box-icon>
                            <span class="text nav-text">Wallets</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <box-icon class="bx bx-log-out icon"></box-icon>
                        <span class="text nav-text">Sair da campanha</span>
                    </a>
                </li>

                <!-- <li class="mode">
                    <div class="moon-sun">
                        <box-icon class="bx bx-moon icon"></box-icon>
                        <box-icon class="bx bx-sun icon"></box-icon>
                    </div>

                    <span class="mode-text text">Dark Mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li> -->
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="text">Dashboard</div>
    </section>










<!-- <div class="coluna-esq">
    <div class="div-home">
        <a class="ancora-home" href="/">
            <img class="logo" src="/static/images/logo/logo_com_fundo.jpg" alt="">
            <h1 class="titulo-home">Dice&Rise</h1>
        </a>
    </div>
    <div class="secoes">
        <div class="secao">
            <a href="/" class="logo-ancora"><img src="/static/images/logo/logo_com_fundo.jpg" alt="logo" id="logo" class="icon"></a>
        </div>
        <div class="secao">
            <a href="/" class="logo-ancora"><img src="/static/images/campanha/icon_pessoas.png" alt="ícone de pessoas" class="icon"></a>
        </div>
        <div class="secao">
            <a href="/" class="logo-ancora"><img src="/static/images/campanha/icon_regras.png" alt="ícone de pessoas" class="icon"></a>
        </div>
        <div class="secao">
            <a href="/" class="logo-ancora"><img src="/static/images/campanha/icon-pessoas.png" alt="logo" class="icon"></a>
        </div>
        <div class="secao">
            <a href="/" class="logo-ancora"><img src="/static/images/campanha/icon-pessoas.png" alt="logo" class="icon"></a>
        </div>
    </div>
    <div class="restante">

    </div>
    <div class="div-participante">
        <img class="foto-participante" src="/static/images/participantes/foto_participante_default.png" alt="">
        <h1 class="nome-participante">Apelido</h1>
    </div>
</div>


<div>
    
</div> -->
</body>
<script src="/static/script/campanha.js"></script>
</html>