<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="dash.css" rel="stylesheet"/>
</head>
<body>
    <header class="cabecalho">
        <img src="imagens/WhatsApp Image 2023-11-23 at 11.04.21.jpeg" alt="logo" class="imagem" width="70">
        <nav class="navegaçao">
            <ul class="menu-lista">
                <li class="list-link"><a class="cabecalho__list-link" href="#">Home</a></li>
                <li class="list-link"><a class="cabecalho__list-link" href="#">Campanhas</a></li>
                <li class="list-link"><a class="cabecalho__list-link" href="#">Amigos</a></li>
                <li class="list-link"><a class="cabecalho__list-link" href="#">Informações</a></li>
                <li class="list-link"><a class="cabecalho__list-link " id="cabecalho__botao--font" href="#">Registrar/Entrar</a></li>
            </ul>
        </nav>
    </header>
        <section class="container" id="container__principal--section">
            <img src="imagens/campanha1.png" alt="Foto" class="container__imagem">
            <div class="container__principal">
                <h1>Comece já sua aventura!</h1>
                <p class="container__descricao">Quer despertar sua imaginação enquanto se diverte com os amigos? Dungeons & Dragons é um RPG colaborativo para jogadores de todas as idades. 
                    Reúna seus amigos para derrotar monstros poderosos, embarcar em missões épicas e contar histórias lendárias cheias de fantasia e diversão.</p>
                    <a href="#" class="container__botao container__botao--right">Comece já</a>
            </div>
        </section>
        <section class="container" id="container__principal--section2">
            <div class="container__principal">
                <h1>Suporte a vários sistemas</h1>
                <p class="container__descricao">Quer despertar sua imaginação enquanto se diverte com os amigos? Dungeons & Dragons é um RPG colaborativo para jogadores de todas as idades. 
                    Reúna seus amigos para derrotar monstros poderosos, embarcar em missões épicas e contar histórias lendárias cheias de fantasia e diversão.</p>
                    <a href="#" class="container__botao">Saber mais</a>
                </div>
                <img src="imagens/campanha2.png" alt="Foto" class="container__imagem">
        </section>

        <section class="container" id="container__principal--section3">
            <img src="imagens/home_dados.png" alt="Foto" class="container__imagem">
            <div class="container__principal" >
                <h1>Crie seu prório sistema</h1>
                <p class="container__descricao">Quer despertar sua imaginação enquanto se diverte com os amigos? Dungeons & Dragons é um RPG colaborativo para jogadores de todas as idades. 
                    Reúna seus amigos para derrotar monstros poderosos, embarcar em missões épicas e contar histórias lendárias cheias de fantasia e diversão.</p>
                    <a href="#" class="container__botao container__botao--right">Crie já</a>
                </div>
            </section>
                
                <footer class="rodape" >
                    <div class="rodape__1"  >
                        <ul class="menu-lista">
                            <li class="list-link"><a class="cabecalho__list-link" href="#">Home</a></li>
                            <li class="list-link"><a class="cabecalho__list-link"  href="#">Informações</a></li>
                            <li class="list-link"><a class="cabecalho__list-link"  href="#">Sobre</a></li>
                        </ul>
                    </div>
                </footer>
</body>
</html>