<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style/home.css">
    <link rel="shortcut icon" href="/static/images/logo/logo_com_fundo.jpg" type="image/x-icon">
</head>
<body>
    <header class="cabecalho">
        <a href="/" class="" id="logo-ancora"><img src="/static/images/logo/logo_com_fundo.jpg" alt="logo" class="logo" width="70"></a>
        <nav class="navegaçao">
            <ul class="menu-lista">
                <li class="list-link"><a class="cabecalho__list-link" href="/">Home</a></li>
                <li class="list-link"><a class="cabecalho__list-link" href="/campanhas">Campanhas</a></li>
                <li class="list-link"><a class="cabecalho__list-link" href="/amigos">Amigos</a></li>
                <li class="list-link"><a class="cabecalho__list-link" href="/informacoes">Informações</a></li>
                <li class="list-link"><a class="cabecalho__list-link " id="cabecalho__botao--font" href="/login">Registrar/Entrar</a></li>
            </ul>
        </nav>
    </header>
    <section class="container" id="container__principal--section">
        <img src="/static/images/home/home_d&d.png" alt="Foto" class="container__imagem">
        <div class="container__principal">
            <h1>Comece já sua aventura!</h1>
            <p class="container__descricao">Quer despertar sua imaginação enquanto se diverte com os amigos? Dungeons & Dragons é um RPG colaborativo para jogadores de todas as idades. 
                Reúna seus amigos para derrotar monstros poderosos, embarcar em missões épicas e contar histórias lendárias cheias de fantasia e diversão.</p>
            <a href="#" class="container__botao container__botao--right">Comece já</a>
        </div>
    </section>
    <section class="container" id="container__principal--section2">
        <div class="container__principal">
            <h1>Suporte a vários sistemas</h1>
            <p class="container__descricao">Quer despertar sua imaginação enquanto se diverte com os amigos? Dungeons & Dragons é um RPG colaborativo para jogadores de todas as idades. 
                Reúna seus amigos para derrotar monstros poderosos, embarcar em missões épicas e contar histórias lendárias cheias de fantasia e diversão.</p>
            <a href="#" class="container__botao">Saber mais</a>
            </div>
            <img src="/static/images/home/home_varios_sistemas.png" alt="Foto" class="container__imagem">
    </section>
    <section class="container" id="container__principal--section3">
        <img src="/static/images/home/home_dados.png" alt="Foto" class="container__imagem">
        <div class="container__principal" >
            <h1>Crie seu prório sistema</h1>
            <p class="container__descricao">Quer despertar sua imaginação enquanto se diverte com os amigos? Dungeons & Dragons é um RPG colaborativo para jogadores de todas as idades. 
                Reúna seus amigos para derrotar monstros poderosos, embarcar em missões épicas e contar histórias lendárias cheias de fantasia e diversão.</p>
            <a href="#" class="container__botao container__botao--right">Crie já</a>
        </div>
    </section>           
    <footer class="rodape" >
        <div class="rodape__1"  >
            <ul class="menu-lista">
                <li class="list-link"><a class="cabecalho__list-link" href="#">Home</a></li>
                <li class="list-link"><a class="cabecalho__list-link"  href="#">Informações</a></li>
                <li class="list-link"><a class="cabecalho__list-link"  href="#">Sobre</a></li>
            </ul>
        </div>
    </footer>
    <script src="/static/script/home.js"></script>    
</body>
</html>