<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações</title>
    <link rel="shortcut icon" href="/static/images/logo/logo_com_fundo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/static/style/informacoes.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="cabecalho">
        <img src="/static/images/logo/logo_com_fundo.jpg" alt="logo" class="imagem" width="70">
        <nav class="navegaçao">
            <ul class="menu-lista">
                <li class="list-link"><a class="cabecalho__list-link" href="#">Home</a></li>
                <li class="list-link"><a class="cabecalho__list-link" href="#">Campanhas</a></li>
                <li class="list-link"><a class="cabecalho__list-link" href="#">Amigos</a></li>
                <li class="list-link"><a class="cabecalho__list-link" href="#">Informações</a></li>
                <li class="list-link"><a class="cabecalho__list-link " id="cabecalho__botao--font" href="#">Registrar/Entrar</a></li>
            </ul>
        </nav>
    </header>
    <section class="container_titulo" id="container__titulo--section">
        <div class="container__principal--titulo">
            <h1 class="titulo_principal_home">D&D 5° EDIÇÃO</h1>
            <h4>O maior RPG de todos os tempos</h4>
            <p class="container__descricao1">O maior RPG de todos os tempos
                Descubra por que milhões de jogadores ao redor do mundo assumiram o papel de heróis poderosos (e anti-heróis sorrateiros) para criar suas próprias histórias.</p>
        </div>
    </section>
    <section class="container" id="container__principal--section2">
        <div class="container__principal">
            <h1 class="titulo__principal">Livro do Jogador</h1>
            <p class="container__descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci maiores modi quos sapiente praesentium libero iusto minus aliquam, cumque deserunt incidunt quia laudantium veritatis neque quaerat explicabo illo officiis asperiores.</p>
            <a href="#" class="container__botao">
                <box-icon class="bx bxs-book-bookmark book-icon"></box-icon>
                Acesse já
            </a>
        </div>
        <img src="/static/images/informações/2.png" alt="Foto" class="container__imagem">
    </section>

    <section class="container" id="container__principal--section3">
        <img src="/static/images/informações/6.png" alt="Foto" class="container__imagem">
        <div class="container__principal">
            <h1>Guia do Mestre</h1>
            <p class="container__descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sequi necessitatibus esse alias laborum. Inventore reprehenderit eius non optio, accusantium neque nisi rem error voluptate nihil vero adipisci soluta? Facilis!</p>
            <a href="#" class="container__botao"><box-icon class="bx bxs-book-bookmark book-icon"></box-icon>Acesse já</a>
            </div>
    </section>
    <section class="container" id="container__principal--section4">
        <div class="container__principal">
            <h1>Manual do Monstro</h1>
            <p class="container__descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex modi alias quod quia vero molestias atque. Ipsum non quis modi excepturi, corrupti ratione praesentium ad deserunt debitis magnam, provident quam!</p>
            <a href="#" class="container__botao"><box-icon class="bx bxs-book-bookmark book-icon"></box-icon>   Acesse já</a>
            </div>
            <img src="/static/images/informações/5.png" alt="Foto" class="container__imagem">
    </section>
    <footer class="rodape" >
        <p>© 2023 Dice & Rise</p>
    </footer>
</body>
</html>