<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="/static/style/login.css">
    
    <title>Login Dice & Rise</title>
</head>
<body>
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
        <script>

        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>
    <main id="container">
        <form id="login_form" th:action="@{/login}" th:object="${usuario}" method="post">
            <!-- FORM HEADER -->
            <div id="form_header">
                <h1>Login</h1>
                
            </div>

            

            <!-- INPUTS -->
            <div id="inputs">
                <!-- NAME -->
                <div class="input-box">
                    <label for="name">
                        Nome
                        <div class="input-field">
                            
                            <box-icon name='user' type='solid' color='#737171' class="fa-solid fa-user" ></box-icon>
                            <input type="text" id="name" th:field="*{usuario}" name="name">
                        </div>
                    </label>
                </div>
                
               
                <!-- PASSWORD -->
                <div class="input-box">
                    <label for="password">
                        Senha
                        <div class="input-field">
                            
                            <box-icon name='key' type='solid' color='#737171'class="fa-solid fa-key" ></box-icon>
                            <input type="password" id="password" th:field="*{senha}" name="password">
                        </div>
                    </label>
                

                </div>
            </div>
            <div id="social_media">
                <!-- FACEBOOK -->
                <a href="#">
                    <img src="static/images/login/facebook.png" alt="">
                </a>

                <!-- GOOGLE -->
                <a href="#">
                    <img src="static/images/login/google.png" alt="Google logo">
                </a>
                
                <!-- GITHUB -->
                <a href="#">
                    <img src="static/images/login/icon-linkedin.png" alt="">
                </a>
            </div>

            <!-- LOGIN BUTTON -->
            <button type="submit" id="login_button">
                Login
            </button>
        </form>
    </main>
</body>
</html>